.main {
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 20px;
  position: relative;
  .expand {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
  }
  .expand:hover {
    background-color: black;
    color: white;
  }
}
